body {
  font-family: Open Sans, serif;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}
/* ==Nav== */

.nav__list {
  display: flex;
  flex-direction: column;
  
}

.nav__link {
  display: block;
  padding: 12px;
  font-size: 18px;
  line-height: 24px;
  color: #22313f;
  text-decoration: none;
}



/* ==Buttons== */

.btn {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #000;
  padding: 8px 25px;
  color: #000;
  font-size: 16px;
  text-decoration: none;
  background-color: transparent;
}

.btn--red {
  border: none;
  background-color: #932626;
  color: #fff;
  border: none;
}

/* ==Icons== */

.social-link__item {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.social-link__item:last-child {
  margin-right: 0;
}

.social-link__item--tw {
  width: 28px;
  height: 24px;
  background-position: -732px -5px;
}

.social-link__item--vk {
  width: 24px;
  height: 24px;
  background-position: -104px -5px;
}

.social-link__item--inst {
  width: 32px;
  height: 19px;
  background-position: -770px -5px;
}
.social-link--header {
  
}

.section__title {
  text-align: center;
  font-family: Montserrat, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 24px;
  color: #000;
}

.section__title:after {
  content: '';
  display: block;
  margin: 15px auto 0;
  width: 94px;
  height: 2px;
  background-color: #000;
}

.section__title--white {
  color: #fff;
}

.section__title--white:after {
  background-color: #fff;
}

.section__inner {
  padding: 0 15px;
}

/* ==Header== */
.header__inner {
  padding-top: 84px;
  padding-bottom: 93px;
  background-image: url(../img/header__bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.topline {
  width: 100%;
  display: block;
  background-color: #e9e9f1;
}

.topline__inner {
  padding: 0 15px;
}

.links {
  display: block;
  font-size: 16px;
  line-height: 24px;
}

.links__time {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 26px;
  text-decoration: none;
  color: #000;
  margin-right: 20px;
}

.links__time:before {
  content: '';
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block;
  margin-right: 10px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 16px;
  background-position: -344px -5px;
}

.links__phone {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 26px;
  text-decoration: none;
  color: #000;
  margin-right: 20px;
}

.links__phone:before {
  content: '';
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block;
  margin-right: 10px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 16px;
  background-position: -344px -5px;
}

.links__adress {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 26px;
  text-decoration: none;
  color: #000;
}

.links__adress:before {
  content: '';
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block;
  margin-right: 10px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  display: block;
  width: 13px;
  height: 18px;
  background-position: -370px -5px;
}

.links__time {
  display: none;
}

.links__adress {
  display: none;
}

.header__inner {
  display: block;
  position: relative;
}

.burger-btn {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: -15px;
}

.burger-btn:before,
.burger-btn:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
}

.burger-btn:before {
  top: 5px;
}

.burger-btn:after {
  bottom: 5px;
}

.burger-btn__dot {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
}

.logo {
  display: none;
}

.header__nav {
  flex-direction: column;
  position: absolute;
  top: 0;
  border-top: 1px solid #22313f;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 100px;
  left: 0;
  background-color: #e9e9f1;
  text-align: center;
  transform: translateX(-100%);
  transition: all .5s ease;
}

.header__nav.is-drop {
  transform: translateX(0);
}

.btn--header {
  display: none;
}

.section__inner {
  padding: 0 15px;
}

.promo__title {
  padding-top: 80px;
  padding-bottom: 26px;
  width: 205px;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.promo__text {
  display: none;
}

/* ==Track-list== */

.tracks-list {
  padding-top: 5px;
  padding-bottom: 120px;
  background-image: url(../img/track__bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}
.track-slider {
  padding-top: 35px;
}
.track {
  overflow: hidden;
  display: none;
  position: relative;
  z-index: 2;
  width: 215px;
  margin: 0 auto;
  color: #c7c7d3;
  
}

.track--active {
  display: block;
}

.track-header {
  margin-bottom: -140px;
  padding: 25px 20px 10px;
  background-color: #3b434a;
  opacity: .75;
  text-align: center;
  text-shadow: 0 2px 2px #000;
}

.track__title {
  font-size: 30px;
  font-weight: 700;
}

.track-list {
  margin-top: 20px;
}

.track-list__item {
  margin-top: 7px;
}

.track-list__item:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.track-list__item--height:before {
  width: 35px;
  height: 22px;
  background-position: -238px -5px;
}

.track-list__item--age:before {
  width: 24px;
  height: 27px;
  background-position: -38px -5px;
}

.track-img {
  z-index: 0;
}

.track-img__item {
  width: 100%;
}

.track-descr {
    margin-top: -181px;
    background-color: #3b434a;
    opacity: .75;
    padding: 80px 10px 43px;
    text-align: center;
}

.track-descr__text {
  margin: 0;
}

/* ==Action== */

.action {
  margin-top: -41px;
}

.actions {
  margin-top: 55px;
}

.action-card {
  overflow: hidden;
  padding: 170px 15px 20px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: cover;
}

.action-card__descr {
  display: block;
  color: #fff;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}


/* ==Advantages(adv)== */

.adv-wrap {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 50px;
  background-image: url(../img/adv__bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.adv {
  padding-top: 50px;
  padding-bottom: 48px;
}

.adv__item {
  position: relative;
  vertical-align: middle;
  padding-left: 80px;
  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 17px;
}

.adv__item:before {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  width: 75px;
  height: 76px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.adv__item--rope:before {
    background-position: -533px -5px;
}

.adv__item--sign:before {
    background-position: -618px -5px;
}

.adv__item--question:before {
    background-position: -448px -5px;
}

.adv__text {
  color: #fff;
  font-size: 14px;
}

/* ==Galary== */

.galery {
  margin-bottom: 30px;
}

.galery-item {
  margin: 0 auto;
  width: 215px;
  overflow: hidden;
}

.galery-item__img {
  width: 135%;
}

/* Price & Accordion */

.price-form {
  margin: 55px -15px;
}

.price {
  display: block;
  box-sizing: border-box;
  border-top: 1px;
  text-align: center;
}

.price__trigger {
  position: relative;
  display: block;
  width: 100%;
  padding: 25px 0;
  border: none;
  border-top: 1px solid #22313f;
  background-color: #fff;
  color: #22313f;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.price__trigger {
  border-bottom: 1px solid #22313f;
}

.price__trigger:after {
  content: '';
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 25px;
  background-position: -214px -5px;
  transition: all .6s;
}

.price__trigger:focus:after {
  transform: rotate(-90deg);
  border-color: transparent;
}

.price__content {
  display: block;
  background-color: #22313f;
  text-transform: uppercase;
  color: #dadae7;
  font-size: 16px;
  line-height: 24px;
}

.price__label {
  display: block;
  width: 100%;
  padding: 11px;
}

.price__input {
  display: none;
  width: 100%;
}

.price__input {}
.cost-text {
  position: relative;
  display: block;
  padding: 25px 15px;
  background-color: #f1f1f1;
  color: #22313f;
  font-size: 16px;
  line-height: 18px;
}

.cost-value {
  position: absolute;
  right: 0;
  margin-right: 15px;
}

.cost-option {
  padding: 0 10px ;
  text-align: center;
}

.cost-option__item {
  color: #22313f;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
}

/* == Price == */

.price-submit {
  margin-top: 30px;
  text-align: center;
}

.price-submit .btn {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.safe-link {
  display: block;
  margin-top: 17px;
  font-size: 14px;
  line-height: 18px;
  color: #22313f;
}

/* ==Table== */

.price-form--table {
  display: none;
}

.table {
  display: block;
  font-family: Open Sans, serif;
  vertical-align: middle;
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
}

.table-header {
  margin-bottom: 60px;
}

.table__row {
  empty-cells: hide;

}

.table__data {
  width: 370px;
  padding: 30px 40px;
}

.table__data input {
  visibility: hidden;
}

.table__data input {
  color: #22313f;
}

.table__row--dark,
.table__data--dark {
  background-color: #5b6671;
  color: #dadae7;
  font-size: 16px;
  line-height: 18px;
}

.table__data--gray {
  padding-right: 20px;
  background-color: #f0f0f0;
  color #22313f;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
}
.table__data--gray span {
  font-weight: 700;
}

.price-option__overtime {
  padding: 20px 0 25px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.price-option__instructor {
  position: relative;
  padding: 20px 42px;
  background-color: #f0f0f0;
  color #22313f;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
}

.price-option__instructor span {
  position: absolute;
  right: 42px;
  text-align: right;
}


/* ==Reviews== */

.reviews-wrap {
  margin: 0 -15px;
  padding-top: 30px;
  padding-bottom: 32px;
  background-image: url(../img/review__bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
.reviews {
  background: rgba(212,213,215,.79);
  padding-top: 43px;
}
.review-item {
  width: 215px;
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
}

.img-mask {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

.img-content {
  width: 100%;
  height: auto;
}
.review-item__img {
  margin-top: 65px;
  margin-bottom: 15px;
}

.review-item__info {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #22313f;
}

.info-name {
  display: block;
  font-weight: 700;
}

.info-profession {
  display: block;
}

.review-item__social {
  margin-top: 15px;
}

.social-icon__item {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.social-icon__item--vk--review {
  width: 28px;
  height: 18px;
  background-position: -36px -5px;
}

.social-icon__item--inst--review {
  width: 21px;
  height: 21px;
  background-position: -5px -5px;
}

.rewiev-item__text {
  margin-top: 22px;
  padding: 0 5px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #22313f;
}

/* ==Footer== */

.footer {
  color: #fff;
}

.footer__inner {
  
}

.footer-map__img {
  display: block;
  width: 100%;
  height: auto;
}

.footer-info {
  position: relative;
  padding: 0 15px 20px;
  background-color: #22313f;
}

.links--footer {
  padding-top: 6px;
}

.links--footer .links__phone {
  color: #dadae7;
  font-size: 14px;
  line-height: 28px;
}

.links--footer .links__phone:before {
  width: 18px;
  height: 18px;
  background-position: -316px -5px;
}

.links--footer .links__adress{
  display: block;
  color: #dadae7;
  font-size: 14px;
  line-height: 28px;
}

.links--footer .links__adress:before {
  width: 14px;
  height: 20px;
  background-position: -393px -5px;
}

.nav--footer .nav__list {
  flex-direction: column;
  margin-bottom: 17px;
  font-size: 14px;
  color: #dadae7;
}

.nav--footer .nav__link {
  color: #dadae7;
}

.social-link--footer .social-link__item{
  margin-right: 10px;
}

.to-top {
  position: absolute;
  bottom: 10px;
  right: 15px;
  border: 1px solid #dadae7;
  border-radius: 50%;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  display: block;
  padding: 5px;
  width: 30px;
  height: 30px;
  background-position: -2px 1px;
}

.map {
  width: 100%;
  height: 230px;
}



/* ==Mediaqueries== */

@media (min-width: 767px) {
  
  .header__nav {
    display: flex;
    width: 100%;
    padding: 0;
    order: 2;
    text-align: center;
    background-color: transparent;
  }
  .nav__list {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .social-link--header {
    display: none;
  }
  .promo__title {
    display: block;
    width: 600px;
  }
  .promo__text {
    display: block;
  }
  .header__inner {
    /*display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;*/
  }
  .logo {
    display: block;
    order: -10;
  }

  .burger-btn {
    display: none;
  }
  .links {
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }
  .links__time {
    display: block;
  }

  .links__adress {
    display: block;
  }

  .header__nav {
    display: flex;
    transform: translateX(0);
  }

  /* ==Track== */

  .track-slider .slick__item:nth-child(even) .track-header,
  .track-slider .slick__item:nth-child(even) .track-descr {
    background-color: #22313f;
    opacity: 1;
  }

  .track-header {
    margin-bottom: 0;
  }

  .track-descr {
    margin-top: 0;
    padding: 45px 24px;
  }

  .price-form--mobile {display: none;}
  .price-form--table {
    display: block;
  }
  .adv__item { 
    margin-bottom: 70px;
   }
   
  /* ==Galary==*/
  .galery {
    display: flex;
    justify-content: space-between;
  }

  .galery-item {
    width: 245px;
    margin-right: 5px;
  }

  .galery-item:last-child {
    margin-right: 0;
  }
}

@media (min-width: 1280px) {
  .section__inner,
  .header__inner,
  .footer__inner {
    width: 1190px;
    margin: 0 auto;
  }
  .btn--header {
    display: inline-block;
  }
  .header__nav {
    display: flex;
    width: 100%;
    padding: 0;
    text-align: center;
    background-color: transparent;
  }
  .nav__list {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .social-link--header {
    display: none;
  }
  .promo__text {
    display: block;
  }
  .logo {
    display: inline-block;
  }
  .track-slider {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .track-slider .slick__item:nth-child(even) {
    margin-top: 75px;

  }
  
  .track-header {
    margin-bottom: 0;
  }
  
  .track-descr {
    margin-top: -3px;
    padding: 45px 24px;
  }
  /* ADV */
  .adv {
      display: flex;
      justify-content: center;
      padding: 130px;
  }
  .adv__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
  }
  .adv__item:before {
    left: 0;
    right: 0;
    top: -80px;
    margin: auto;
  }

  .galery-item {
    width: 260px;
    margin-right: 5px;
  }
}